$color-primary: #282b30;
$color-primary-light: #33373d;
$color-primary-dark: #1e2124;

$color-text-light: #f1f1f1;
$color-text-dark: #d4d4d4;

$color-button: #7289da;

$color-discord: #7289da;
$color-discord-dark: darken($color-discord, 10%);
