@import url("https://fonts.googleapis.com/css?family=Fira+Sans:300,400,600&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
  background-color: #282b30; }

header.header {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  header.header .title-box {
    text-align: center; }

section.features {
  background-color: #1e2124;
  display: flex;
  width: 60%;
  margin: auto;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column; }
  section.features .heading--primary {
    flex: 1; }

@media only screen and (max-width: 768px) {
  section.features {
    width: 90%; }
    section.features .heading--primary {
      margin: 0; } }

.text--light {
  color: #f1f1f1; }

.heading--title {
  font-size: 7.2rem;
  font-weight: 400; }

.heading--primary {
  font-size: 3rem;
  font-weight: 300; }

@media only screen and (max-width: 768px) {
  .heading--title {
    font-size: 4rem;
    font-weight: 400; }
  .heading--primary {
    font-size: 2.5rem;
    font-weight: 300;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto; } }

.button {
  color: #f1f1f1;
  background-color: #7289da;
  text-decoration: none;
  border: 1px solid #5e78d5; }
  .button:hover {
    cursor: pointer;
    background-color: #768cdb; }

.button--large {
  font-size: 2.2rem;
  padding: 2rem 4rem;
  border-radius: 1rem; }

.button--normal {
  font-size: 1.8rem;
  padding: 1.4rem 3.4rem;
  border-radius: 1rem; }

.feature-list {
  display: flex;
  list-style: inside;
  color: #d4d4d4;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column; }
  .feature-list__item {
    margin-top: 1.5rem; }
  .feature-list__header {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 0.2rem; }

.message-box {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to bottom right, #7289da, #4a67cf);
  display: flex;
  justify-content: center;
  align-items: center; }
  .message-box__content {
    width: 35%;
    height: auto;
    padding-bottom: 3rem;
    background-color: rgba(40, 43, 48, 0.9);
    text-align: center;
    border-radius: 1rem;
    border: 1px solid #1e2124; }
  .message-box__header {
    font-size: 4rem;
    padding: 2rem;
    text-transform: uppercase;
    border-bottom: 1px solid #33373d; }
  .message-box__message {
    font-size: 2rem;
    line-height: 2.6rem;
    padding: 2rem 4rem;
    font-weight: 300;
    text-align: justify; }

@media only screen and (max-width: 1000px) {
  .message-box__content {
    width: 96%;
    min-height: 96%; }
  .message-box__message {
    text-align: center; } }
